html {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  width: 80vw;
  margin: 0 auto;
  background-color: transparent;
}
.container .header-container {
  width: 80vw;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.container .header-container a.logo {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  padding-top: 1.4rem;
}
@media screen and (max-width: 768px) {
  .container .header-container a.logo {
    font-size: 1rem;
    color: black;
  }
}
.container .header-container ul {
  list-style-type: none;
  margin-top: 1.85rem;
  margin-bottom: 0;
}
.container .header-container ul li {
  display: inline-block;
  padding-left: 3.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.container .header-container ul li a {
  text-decoration: none;
  color: black;
  opacity: 30%;
  transition: 0.5s ease;
}
.container .header-container ul li a:hover {
  opacity: 100%;
}
@media screen and (max-width: 768px) {
  .container .header-container ul li {
    padding-left: 0.3rem;
    font-size: 1rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 768px) {
  .container .header-container ul {
    margin-top: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .container .header-container {
    width: 90vw;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
}
.container {
  position: relative;
  margin: 0 auto;
}
.container .blurb {
  width: 50vw;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.container .blurb h1 {
  font-size: 5rem;
}
.container .blurb h1 mark {
  background-color: #3297FD;
  color: white;
}
.container .blurb h1 .blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-moz-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@media screen and (max-width: 768px) {
  .container .blurb h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .container .blurb {
    width: 80vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.container .project-container {
  position: relative;
  width: 80vw;
  height: 100%;
  margin-top: 3rem;
}
.container .project-container h2 {
  position: absolute;
  font-weight: 600;
  font-size: 1.5rem;
  bottom: 1rem;
  right: 4rem;
  color: white;
}
.container .project-container h2 p {
  color: white;
  display: inline-block;
  padding-left: 2rem;
  opacity: 50%;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .container .project-container h2 p {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .container .project-container h2 {
    font-size: 0.8rem;
    bottom: 0rem;
    right: 1rem;
  }
}
.container .project-container img {
  width: 100%;
  border-radius: 20px;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .container .project-container img {
    border-radius: 10px;
    transition: none;
  }
}
.container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 99.5%;
  width: 100%;
  border-radius: 20px;
  background-color: black;
  opacity: 0;
  transition: 0.5s ease;
}
@media screen and (max-width: 768px) {
  .container .overlay {
    display: none;
  }
}
.container .project-container:hover .overlay {
  opacity: 70%;
}
@media screen and (max-width: 768px) {
  .container .project-container {
    margin-top: 0.5rem;
    width: 90vw;
  }
}

footer .container .footer-container {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
footer .container .footer-container p {
  font-weight: 600;
  margin: 0;
  padding-bottom: 3rem;
}
footer .container .footer-container ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}
footer .container .footer-container ul li {
  padding-left: 2rem;
}
footer .container .footer-container ul li a {
  opacity: 20%;
  transition: 0.5s ease;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
footer .container .footer-container ul li a:hover {
  opacity: 100%;
}
@media screen and (max-width: 768px) {
  footer .container .footer-container ul {
    font-size: 16px;
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  footer .container .footer-container ul {
    display: none;
  }
  footer .container .footer-container p {
    margin-bottom: 3rem;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  footer .container .footer-container {
    margin-top: 1rem;
    padding-top: 1rem;
    justify-content: center;
  }
}
