html
    font-family: 'Roboto', sans-serif
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px
    overflow-x: hidden 
    
.container
    width: 80vw
    margin: 0 auto
    background-color: transparent

@media screen and ( max-width: 768px )
    .container
        width: 90vw

// HOMEPAGE BLURB CONTAINER

.container
    position: relative
    margin: 0 auto

    .blurb
        width: 50vw
        padding-top: 10rem
        padding-bottom: 10rem
        
        h1
            font-size: 5rem      

            mark
                background-color: #3297FD
                color: white
            
            .blinking-cursor   
                -webkit-animation: 1s blink step-end infinite
                -moz-animation: 1s blink step-end infinite
                -ms-animation: 1s blink step-end infinite
                -o-animation: 1s blink step-end infinite
                animation: 1s blink step-end infinite

            @-webkit-keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black
            
            @-moz-keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black

            @-ms-keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black

            @-o-keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black

            @keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black

        @media screen and ( max-width: 768px )
            h1
                font-size: 2rem

    @media screen and ( max-width: 1200px )
        .blurb
            width: 80vw

    @media screen and ( max-width: 768px )
        .blurb 
            width: 80vw
            padding-top: 2rem
            padding-bottom: 2rem

    // ABOUT BLURB CONTAINER

    .about-blurb
        width: 50vw
        padding-top: 10rem
        padding-bottom: 10rem
        
        h1
            font-size: 5rem      

            mark
                background-color: #3297FD
                color: white
            
            .blinking-cursor   
                -webkit-animation: 1s blink step-end infinite
                -moz-animation: 1s blink step-end infinite
                -ms-animation: 1s blink step-end infinite
                -o-animation: 1s blink step-end infinite
                animation: 1s blink step-end infinite

            @-webkit-keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black
            
            @-moz-keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black

            @-ms-keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black

            @-o-keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black

            @keyframes "blink"
                from, to
                    color: transparent
                50%
                    color: black

        @media screen and ( max-width: 768px )
            h1
                font-size: 2rem
                padding-bottom: 2rem

        h2 
            font-weight: 600
            line-height: 2.5rem
            font-size: 1.5rem
        
        @media screen and ( max-width: 768px )
            h2 
                font-size: 1.1rem
                line-height: 2rem

    @media screen and ( max-width: 1200px )
        .about-blurb 
            width: 80vw
            padding-top: 2rem
            padding-bottom: 0rem

    @media screen and ( max-width: 768px )
        .about-blurb
            width: 90vw

    .about-image
        padding-top: 3rem

        img
            width: 100%
            border-radius: 20px

    // PROJECT CONTAINER         

    .project-container
        position: relative
        width: 80vw
        height: 100%
        margin-top: 3rem

        h2   
            position: absolute
            font-weight: 600
            font-size: 1.5rem
            bottom: 1rem 
            right: 4rem
            color: white

            p   
                color: white
                display: inline-block
                padding-left: 2rem
                opacity: 50%
                font-weight: 400

            @media screen and ( max-width: 768px )
                p
                    padding-left: 1rem

        @media screen and ( max-width: 768px )
            h2
                font-size: 0.8rem
                bottom: 0rem
                right: 1rem

        img
            width: 100%
            border-radius: 20px
            transition: 1s

        @media screen and ( max-width: 768px )
            img
                border-radius: 10px
                transition: none

    @media screen and ( max-width: 768px )
        .project-container
            margin-top: 0.5rem
            width: 90vw

    // PROJECT CONTAINER HOVER OVERLAY

    .overlay
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        height: 99.5%
        width: 100%
        border-radius: 20px
        background-color: black
        opacity: 0
        transition: 0.5s ease

    @media screen and ( max-width: 768px )
        .overlay   
            display: none

    .project-container:hover .overlay
        opacity: 70%


              

            


